

.input{
    width: 100%;
    padding: 8px 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    margin:0px 0px;
}

label{
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    color: #575764;
}